<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CustomSimulatorsExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7D29B5F7201CF41200B63DBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D29B60B201CF41200B63DBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D29B616201CF41200B63DBF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
